body {
    font-family: sans-serif;
    background: #202329;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 400px;
}

.search-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    cursor: pointer;
    background: #97ce4c;
    border: none;
    font-weight: bold;
}

.card {
    background: #3c3e44;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.info-text {
    text-align: left;
    margin-top: 15px;
}